Repository iirose-tools/iirose-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

chore(release): 0.1.0
  CHANGELOG.md
Due: none

ci: 配置GitHub Actions自动发布
  .github/workflows/build.yml
Due: none

chore(release): 1.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

style: 修复自动格式化配置
  .lintstagedrc.json
  src/common/state.ts
Due: prettier --write, tslint --fix

fix: 修复无法点击穿透透明区域的问题
  src/main/client.ts
Due: prettier --write, tslint --fix

chore(release): 1.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: 添加“置顶”菜单选项
  src/common/state.ts
  src/main/client.ts
Due: prettier --write, tslint --fix

feat: 退出时保存所有自定义设置（比如置顶和透明模式）
  src/common/state.ts
  src/main/client.ts
  src/renderer/index.ts
Due: prettier --write, tslint --fix

feat: 新增弹幕模式
  src/common/state.ts
  src/main/client.ts
  src/renderer/index.ts
  src/renderer/reactions/danmaku.ts
  src/renderer/reactions/index.ts
  src/renderer/reactions/reaction.ts
  src/renderer/reactions/transparency.ts
Due: prettier --write, tslint --fix

feat: 新增弹幕模式 (#6)
  src/common/state.ts
  src/main/client.ts
  src/renderer/index.ts
  src/renderer/reactions/danmaku.ts
  src/renderer/reactions/index.ts
  src/renderer/reactions/reaction.ts
  src/renderer/reactions/transparency.ts
Due: prettier --write, tslint --fix

docs: 添加自述文件
  README.md
Due: none

docs: 添加自述文件 (#7)
  README.md
Due: none

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 1.1.0 (#8)
  CHANGELOG.md
  package.json
Due: prettier --write

feat: 在弹幕模式下隐藏时间戳
  src/renderer/reactions/danmaku.ts
Due: prettier --write, tslint --fix

feat: 在弹幕模式下隐藏时间戳 (#9)
  src/renderer/reactions/danmaku.ts
Due: prettier --write, tslint --fix

docs: 在自述文件里添加Logo
  README.md
Due: none

docs: 在自述文件里添加Logo (#10)
  README.md
Due: none

feat: 输入框在弹幕模式下可以拖拽移动位置
  src/renderer/declarations.d.ts
  src/renderer/index.ts
  src/renderer/reactions/danmaku.ts
  src/renderer/reactions/draggable-input.ts
  src/renderer/reactions/index.ts
  src/renderer/reactions/transparency.ts
  src/renderer/utils/inject-css.ts
Due: prettier --write, tslint --fix

feat: 输入框在弹幕模式下可以拖拽移动位置 (#11)
  src/renderer/declarations.d.ts
  src/renderer/index.ts
  src/renderer/reactions/danmaku.ts
  src/renderer/reactions/draggable-input.ts
  src/renderer/reactions/index.ts
  src/renderer/reactions/transparency.ts
  src/renderer/utils/inject-css.ts
Due: prettier --write, tslint --fix

feat: 添加“移动”选项用于调整窗口位置
  src/common/state.ts
  src/main/client.ts
  src/renderer/index.ts
  src/renderer/reactions/index.ts
  src/renderer/reactions/move-window.ts
Due: prettier --write, tslint --fix

feat: 添加“移动”选项用于调整窗口位置 (#12)
  src/common/state.ts
  src/main/client.ts
  src/renderer/index.ts
  src/renderer/reactions/index.ts
  src/renderer/reactions/move-window.ts
Due: prettier --write, tslint --fix

chore(release): 1.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: 置顶模式时始终保持在任务栏和其他全屏软件（如视频播放器）上方
  src/main/client.ts
Due: prettier --write, tslint --fix

fix: 置顶模式时始终保持在任务栏和其他全屏软件（如视频播放器）上方 (#14)
  src/main/client.ts
Due: prettier --write, tslint --fix

fix: 修复沉浸模式下渐变阴影部分无法拖拽的问题
  src/renderer/reactions/transparency.ts
  src/renderer/utils/inject-css.ts
Due: prettier --write, tslint --fix

fix: 修复沉浸模式下渐变阴影部分无法拖拽的问题 (#15)
  src/renderer/reactions/transparency.ts
  src/renderer/utils/inject-css.ts
Due: prettier --write, tslint --fix

fix: 修复弹幕模式失效
  src/renderer/reactions/danmaku.ts
  src/renderer/reactions/draggable-input.ts
Due: prettier --write, tslint --fix

fix: 修复弹幕模式失效 (#16)
  src/renderer/reactions/danmaku.ts
  src/renderer/reactions/draggable-input.ts
Due: prettier --write, tslint --fix

fix: 修复“移动”功能时常失效的问题
  src/renderer/reactions/move-window.ts
Due: prettier --write, tslint --fix

fix: 修复“移动”功能时常失效的问题 (#17)
  src/renderer/reactions/move-window.ts
Due: prettier --write, tslint --fix

feat: 在弹幕模式下禁用鼠标滚动
  src/renderer/reactions/danmaku.ts
Due: prettier --write, tslint --fix

feat: 在弹幕模式下禁用鼠标滚动 (#18)
  src/renderer/reactions/danmaku.ts
Due: prettier --write, tslint --fix

feat: 将 加号/发送 按钮固定在输入框右边
  src/renderer/reactions/draggable-input.ts
Due: prettier --write, tslint --fix

feat: 将 加号/发送 按钮固定在输入框右边 (#19)
  src/renderer/reactions/draggable-input.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,html}
  tslint --fix: any of: *.ts
